body {
    background-color: #6398c6;
    /* color: white;
    text-align: center; */
}
h1{
    text-align: center;
    margin-top: 40px;
}

.cell {
    width: 40px;
    height: 45px;
    text-align: center;
}

table {
    margin: 150px auto;
    border: 5px solid black;
    border-spacing: 5px;
}

.board{
    margin: auto;
}

span{
    display: none;
}