body {
    background-color: #3680c0;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.cell {
    width: 40px;
    height: 45px;
    text-align: center;
}

table {
    margin: 60px auto;
    border: 5px solid black;
    border-spacing: 0;
}

.board {
    margin: 10px auto;
}

span {
    display: none;
}

.buttons {
    text-align: center;
}

button {
    cursor: pointer;
    color: white;
    background-color: #272761;
    height: 40px;
    width: 80px;
    border-color: black
}

.smiley {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
}

td {
    background-color: #48489b;
    font-size: 25px;
    color: white;
}
